/*============= MAIN SECTION =============*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:ital@1&family=Pacifico&family=Quicksand:wght@500&display=swap');

/*font-family: 'Lato', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Pacifico', cursive;*/
body{
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/*Nav styling*/
.navbar{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.07rem;
    background: #343a40 !important;
    font-family: 'Pacifico', cursive;
}
/*Logo*/
#diy3{
    font-size: 0.8rem;
    text-align: left;
    padding: 0;
    margin: 0;
}

.diy3text{
    position:relative; left:-23px; top:32px;
}

.navbar-nav li{
    padding-right: .5rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #edadbf;
}

/*Landing page css start*/
.home-inner{
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.45),
                    rgba(53, 53, 53, 0.45)
            ),
            url("../img/diy1.jpg");
}

/*Transition in of Site title and subtitle*/
#wrapper {
    transition:height 2.5s ease-in;
    height:0;
    overflow:hidden;
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.caption h1{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-shadow: .3rem .3rem 0.7rem #e1a2b2;
    padding-bottom: 1rem;
}

#subtitle
{
    color: #d8748c;
    font-size: 3.5rem;
}

.lead{
    color: #8e7182;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 auto;
}

.caption h3{
    font-size: 2.4rem;
    text-shadow: .6rem 0 1rem #f79090;
    padding-bottom: 1.6rem;
    color: #fff;
}

.btn-md{
    border-width: medium;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/*About grids*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #353535;
    padding: 10px;
    border: 2px solid #fff;
    grid-column-gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 1rem;
}

.narrow h1{
    font-size: 2.4rem;
}

/*Projects*/
.project{
    color: rgba(44, 45, 57, 0.71);
}

.heading{
    color: #8d99a4;
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 0;
    font-size: 3rem;
}

h3{
    color: #5a6268;
}


h3.heading{
   font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-underline{
    position: relative;
    width: 145px;
    height: 3px;
    background: #f398a3;
    margin:0 auto;
    transition: all .7s;
}

.heading-underline:hover{
    width: 300px;
    background-color: #e3ae68;
}

.project h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.project p{
    font-size: 1.1rem;
}

/*Client*/



/*CSS BUCKET GRIDS  samuel*/
/* NOTE:
 * Grid/Flex layout stuff starts at line 187.
 * The stuff before is just boring old CSS to make content look not crappy.
 */

/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
.grid-three {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
p {
    margin: 0;
    padding: 1em 0;
}

/* Buckets section */

.buckets {
    padding: 2em 1em 1em;
    background-image: linear-gradient(to bottom, #ece2f3 0%, #e7f0fd 100%);
}

.buckets ul {
    margin: 0;
    padding: 0;
}

.buckets li {
    margin-bottom: 1em;
    background: white;
    list-style-type: none;
}

.bucket {
    color: #e7abbc;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.5rem;
}

.about-buckets{
    opacity: 0;
    transition: opacity 400ms ease-in;
    box-shadow: 5px 10px #55534c;
}

.about-buckets.appear{
    opacity: 1;
}

#clients{
    background-color: #e6f1ff;
    margin: 0 auto;
    padding: 6rem 0 0 0;
}
/*Clients Testimonials fade in effects*/
.more-stuff-grid {
    background: #e6f1ff;
    padding: 5rem 0;
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
            1em,
            1fr
    );
}

.from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);
    color: #333;
}

.from-right {
    grid-column: 3 / 4;
    transform: translateX(50%);
    color: #333;
}

.from-left,
.from-right{
    transition: transform 900ms ease-in;
}

.from-left.appear,
.from-right.appear{
    transform: translateX(0px);
}

.more-stuff-grid img{
    width: 100%;
}

blockquote .svg-inline--fa{
    color: #e3ae68;
}

.clients-hr{
    border-top: .2rem solid #e3ae68;
}

/*footer*/
footer{
    background-color: #606c76;
    color: #fff;
    padding: 2rem 0 2rem;
}

footer img{
    height: 5rem;
}

footer a{
    color: #fff;
}

hr.socket{
   width: 100%;
    border-top: .2rem solid #e6f1ff;
    margin-top: 2rem;
}

hr.socket2{
    width: 100%;
    border-top: .2rem solid #e6f1ff;
    margin: 0 auto;
}

/*Content Slider Projects*/
.hi-slide{
    position: relative;
    width: 754px;
    height: 450px;
    margin: 25px 0 35px 0;
    align-items: center;
}

.hi-slide .hi-next,
.hi-slide .hi-prev
{
    position: absolute;
    top: 20%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #333333;
    transition: all 2s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: #fff;
}

.hi-slide .hi-prev{
    left: -70px;
}

.hi-slide .hi-prev::before{
    content: "<";
}

.hi-slide .hi-next{
    right: -70px;
}

.hi-slide .hi-next::before{
    content: ">";
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 4px solid #c2eddb;
    background-color: #e6f1ff;
    cursor: pointer;
    border-radius: 10px;
}

.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}


/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
    .grid {
        max-width: 50em;
        margin: 0 auto;
    }
}

/*--------------------------------------------------------------
Use flex to create a three-bucket layout
--------------------------------------------------------------*/
/*@media screen and (min-width: 540px) {
    .heading-contact{
        font-size: 2.2rem;
        color: red;
    }
}*/

@media screen and (max-width: 699px) {
    .from-left {
        grid-column: 2 / 3;
        transform: translateX(-50%);
        color: #333;
    }

    .lead{
        color: #8e7182;
        text-align: center;
        font-size: 1.5rem;
    }

    .from-right {
        grid-column: 3 / 4;
        transform: translateX(50%);
        color: #333;
    }

    .from-left,
    .from-right{
        transition: transform 1000ms ease-in;
    }

    .from-left.appear,
    .from-right.appear{
        transform: translateX(0px);
    }
    .slide .hi-slide{
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    @supports (display: flex) {

        .buckets ul {
            display: grid;
            justify-content: space-around;
        }

        .grid-override{
            justify-items: center;
        }

        .buckets li {
            width: 75%;

        }

        .lead{
            color: #8e7182;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            width: 90%;
        }

        .bucket{
            width: 100%;
        }

    }
}

@media screen and (min-width: 1000px) {
    @supports (display: flex) {

        .buckets ul {
            display: flex;
            justify-content: space-around;
        }
        .buckets li {
            width: 31%;
        }
    }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@media screen and (min-width: 600px) {
    /* Layout with CSS Grid */
    @supports (display: grid) {

        /* Four-column layout. Two center columns have a total max width of 50em: */
        .grid {

            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
        }

        /* Center items by placing them in the two center columns: */
        .splash-content,
        .more-content,
        .buckets ul {
            grid-column: 2/4;
        }
        /* Use automatic grid placement + span to let each item span two columns:*/
    }
    .narrow {
        width: fit-content;
    }
}

@media screen and (min-width: 1050px) {
    /* Layout with CSS Grid */
    @supports (display: grid) {

        /* Four-column layout. Two center columns have a total max width of 50em: */
        .grid {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 50em)) 1fr;
        }

        /* Center items by placing them in the two center columns: */
        .splash-content,
        .more-content,
        .buckets ul {
            grid-column: 2/4;
        }
        .narrow {
            width: fit-content;
        }
    }


}

@media screen and (max-width: 1400px) {
    .narrow {
        width: fit-content;
    }
}


/*Scrollbar custom styling*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}
body::-webkit-scrollbar-thumb {
    background-color: #fbcafc;
    border-radius: 6px;
    border: 3px solid  #CFD8DC;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
